body{
   font-family: 'Bebas Neue' , sans-serif; 
   margin: 20px 20px 10px 20px;
    background-image: linear-gradient(45 deg, salmon, lightblue);
    
}
    
.button{
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border:20px 10px;
    margin-top: 50px;
    border-radius: 10px;
     font-weight: 700;
     background-image: linear-gradient(109deg,rgb(0, 0, 218),rgb(255, 51, 0));
     color:rgb(224,218, 0) ;

}
#hello a{
     color: rgb(0,218,224);
}

#hello{
    height: 90vh;
}
#about{
    height: 90vh;
}
#project{
    height: 90vh;
    
}
#contact{
    height: 70vh;
}
#hello img{
    margin: 20px;
    height: 70vh;
    width: 30vw;
}
#hello h1{
   line-height: 80px;
   font-size: 70px;
   font-weight: 700;
   color: #363958;
   
}
h2{
     line-height: 50px;
    font-size: 60px;
    font-weight: 600;
    color: #363958;
}
.name{
    color:#4731a7;
}
 article{
     font-family:'Roboto', sans-serif; ;
     width:70%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 800;
    margin: 6px 6px 6px 0px;
    padding: 6px 6px 6px 6px 0px;
}
#about img{
    height: 70vh; 
    width: 35vw;
}
.divided{
    width: 40%;
    margin-left: 2%;
    padding: 4%;
    float: left;
    
}
 .project-div{
     margin-left: 2vw;
     margin-right: 1vw;
     margin-bottom: 3vh;
 }
 #project h3{
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
 }
.b{
 display:inline-block;
 width: 25vw;
 background-color: royalblue;
 text-align: left;
 padding: 2vh 1.5vw;
 border: 2vh 1vw;
 margin-left: 1vw;
 margin-right: 2vw;
 margin-bottom: 40px;
 margin-top: 2vh;
 height: auto , 30vmax;
 border-radius: 10px;
}
.text-block{
    position: absolute;
    bottom:2000vw;

}
.chat-image{
    width: 100%;
    background-image: url("images/Group_33094_1.png" );
    background-position:center;
    height: 500px;
    background-repeat: no-repeat;
    background-size:700px 200px;
    

}
.chat-work{
    text-align: left;
    position: relative;
    top: 35%;
    left: 15%;
    color: white; 
    
}
.chat-chat{
    text-align: center;
    position: relative;
    top:12%;
    left: 63%;
    
}
/* background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% ); */